html,
body {
    padding: 0;
    margin: 0;
    background-color: var(--backgroundColor);
    color: var(--foregroundColor);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

:root {
    /* Your default theme */
    --backgroundColor: #f3f5f9;
    --foregroundColor: #18212b;
    --primaryColor: #2388ff;
    --headerColor: #0e1319;
}

[data-theme="dark"] {
    --backgroundColor: #18212b;
    --foregroundColor: #f3f5f9;
    --primaryColor: #2388ff;
    --headerColor: #0e1319;
}
